#root {
  text-align: center;
}

.label1,
.label3 {
  top: -33%;
  left: 3%;
}

.label2 {
  top: -8%;
  left: 3%;
}

button {
  left: 10px;
  background-color: #974fd0;
}
.duty {
  color: #974fd0;
}
.lor {
  color: #737171;
}

.lor {
  padding-right: 90px;
}

.colorchange {
  color: #974fd0;
}

.edit {
  background-color: #974fd0;
  color: white;
}

.delete {
  border-color: #974fd0;
  color: #974fd0;
}

.btn {
  color: #974fd0;
}
.pupi {
  background-color: #974fd0;
}
.newtaskbutton {
  background-color: #974fd0;
}
